.btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-text);
}

.btn-light {
  background-color: var(--color-neutral);
  border-color: var(--color-neutral);
  color: var(--color-text);
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-primary);
  color: var(--color-text);
}

.btn:hover {
  background-color: var(--color-text);
  border-color: transparent;
}

.btn-light:hover {
background-color: var(--color-text);
}

.btn-ghost:hover {
  background-color: var(--color-primary);

}
